@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Kalam:wght@300;400&display=swap');
@font-face {
    font-family: Android;
    src: url('../fontes/idroid.otf');
}


:root{
     --cor0:#CFEEE7;
     --cor1:#89F0D8;
     --cor2:#86EBD3;
     --cor3:#69B8A5;
     --cor4:#3f5c55;
     --cor5:#063D1e;

     --fontedestaque:'Bebas Neue', cursive;
     --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
     --fonteandroid:'Android', cursive;
}  
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fontepadrao);
}
a.externo::after{
    content: '\00A0\1F517';

}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding: 40px;
    min-height: 150px;
    
}
header > h1 {
    color:white;
    font-family: var(--fontedestaque);
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.801);
    margin-bottom: 20px;
    font-weight: normal;
    
}
header > p {
   color:white;
   font-family: var(--fontepadrao);
   font-size: 1.3em;
   max-width: 500px;
   margin:auto;
   padding-right: 10px;
   padding-left: 10px;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.788) ;
   margin-bottom: 20px;

   
}
nav {
    
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 1px 7px 7px black;
    
}
nav > a {
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    padding: 3px;
}
nav > a:hover { 
     background-color: var(--cor1);
     color:var(--cor5)
}
main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonteandroid);
    font-size: 1.8em;
}
main  h2 {
    font-family: var(--fonteandroid);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor2),transparent);
    text-indent: 8px;
    font-weight: normal;
    
}
main p {
    margin: 15px 0px;
    text-align: justify;
}
main strong{
    color: var(--cor5);
    font-weight: bolder;
    
    
}
main a {
      text-decoration: none;
      font-weight: bold;
      color:var(--cor5);
      background-color: var(--cor0);
      padding: 4px 6px;
}
main a:hover{
    text-decoration: underline;
    color:var(--cor3)
}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{

    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 57%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.664);
}
aside > h3{
    background-color: var(--cor4);
    color:white;
    padding:5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    

}
aside > ul {
    list-style-type:'\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer p:hover {
    text-decoration: underline;
    font-size: larger;
    



}