@charset "UTF-8";



body {

    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: blueviolet;
    font-size: 40px;
    text-align: center;

}
h2 {
    text-align: center;
    color: brown;
}
p {
    text-align: center;
}