@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
   }
    p {
        text-align: justify;
    }
    body {
        background-image: linear-gradient(to right,#6CC5C6,#DEF0EE);

    }
    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px hsla(180, 96%, 10%, 0.644);
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    h1 {
        color: #D1645D;
        text-align: center;
        text-shadow: 1px 1px 2px hsla(4, 44%, 12%, 0.705);
    }
    h2{
        color: #025959;
    }

